aside{
    background-color:#082339 ;
    background-image: url(../img/sidebar-bg.png);
    height: 100%;
    flex-shrink: 0;
   
}
.ms-container-aside{
    height: 90%;
    color:#fff;
    flex-grow: 1;
}
.ms-container-aside i, .ms-admin i{
    margin: 0.625rem;
}
.ms-admin{
    height:10%;
    color: #fff;
}