/* HEADER */
header{
    height: 4.375rem;
    background-color:#f8f9fa;
    display: flex;
    align-items: center;
}
.ms-container-header{
    background-color:#fff;
    align-items: center;
    max-height:2.5rem;
}
.ms-mobile-logo{
    max-height:2.5rem;
}
.container-logo{
    padding-right:  1.25rem ;
}
.search-bar{
    background-color:#e5e5e5;
    flex-grow:1;
    height:100%;
    border-radius: 0.6rem;
    padding: 0.4rem;
}
.search-bar-input, .ms-button{
    background-color: transparent;
    border: none;
}
.sm-dropdown-icon{
    background-color: transparent;
    color: #ff8f00;
}
.container-icon-right{
    width: 15%;
    align-items:center
}
.container-icon-right i{
    margin-left: 1.875rem;
}