/* MAIN */
main{
    flex-grow: 1;
    overflow-y: auto;
}
.ms-main-menu .row{
    background-color: #1c72e8;
    padding: 1.25rem;
}
.ms-badge{
    background-color: #155cbf;
    height: 20%;
}
.dashboard{
    background-color: #f8f9fa;
}
tr img{
    width:20px;
    background-color: #fff;
    margin-right: 1.25rem
}
td button{
    border: 0.3px #6c757d solid;
    border-radius: 0.4rem;
}
td i{
    font-size:  80%;
}
tr th{
    justify-content: center;
}