/* MAIN */
main{
    flex-grow: 1;
    overflow-y: auto;
}
.ms-main-menu .row{
    background-color: #1c72e8;
    padding: 1.25rem;
}
.ms-badge{
    background-color: #155cbf;
    height: 20%;
}
/* DASHBOARD */
.dashboard{
    background-color: #f8f9fa;
}
/* PROSSIME CLASSI */
.ms-btn-offcanvas{
    border:  0.031rem #1c72e8 solid;
    border-radius: 0.3rem;
    margin:2% 0;
}
.ms-btn-offcanvas i{
    color: #1c72e8;
}
tr img{
    width:20px;
    background-color: #fff;
    margin-right: 1.25rem
}
td button{
    border: 0.031rem #6c757d solid;
    border-radius: 0.4rem;
}

